body{
    background-color:gray;
}
table,td,th{
    border: 2px solid red;
    text-align: center;
    
}
h2{
    text-align: center;
    color: yellow;
}
a{
    margin: 5px;
}
a:hover{
    color: rgb(226, 141, 43);
}